---
const pageTitle = "Sobre Mi";

const identity = {
    firstName : "Agustin",
    country: "Argentina",
    occupation: "programmer",
    hobbies: ["play videogames", "program", "study"],
};

const skills = ["HTML", "CSS", "Javascript", "C#", "C++"];
const happy = true;
const finished = false;
const goal = 3;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
<body>
    <a href="/">Volver</a>
    <h1>{pageTitle}</h1>
    <p>
        Mi nombre es Agustin Sgromo y quiero escribir muchas cosas.<br>
    </p>
    <h2>Algunos datos sobre mi:</h2>
    <ul>
        <li>
            My name is {identity.firstName}
        </li>
        <li>
            i live in {identity.country}, and y work as {identity.occupation}
        </li>
        {identity.hobbies.length >= 2 &&
            <li>two of my hobbies are: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
        }
    </ul>
    <p>Mis habilidades son: </p>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    {happy ? <p>estoy happy</p> : <p>estoy sad</p>}
    {finished && <p>¡He terminado este tutoria!</p>}
    {goal === 3 ? <p>Mi objetivo es terminar en 3 dias</p> : <p>Mi objetivo es terminar en menos de 3 dias</p>}

</body>